<html>
  <body>
    <h2>Portfolio of Work: Projects from Codecademy Ruby on Rails Course</h2>
    <div id="portfolioTiles">
      <div id="tileGroup">
        <label><h5> Movie Application </h4>
        <img src="https://lh3.googleusercontent.com/pw/ABLVV85nh9mp_JaOl5bv_-8m2vn-YqzukBy-a8pHzjBfHTno1nIqe58T3bk9jpDT3mqa8zILcZJCxfX09cvZKwLJwd8VDOp1yJbI_fT8uXV-0F4nelzMIC6Q2QWHBvrTunqjTjWLVCl2VCTjhKjkq-jbeKK2Sx2Sdo61P0ERX27qdVRHxrg_HYJ7EA1BrpqA1Qhlo0z_OAfhxZEPA65tXNlvexy5mFO1flTIqRgblDYTQb2CtFtryAxGmD0y3vk5x6PLvyss1RmObPXrO_JqtzFeRZki0lbCcL8LLqI7NSuOIzubH0tHVRGsleIcthcCI94efmrj4n9QfqGpOXtzgS1PKDaT5er4XFzh0kkJVvnlJp_y6MVT8WG9BEFVKkQJWgvQFMGUA2fF00twSXD2yclEQDTkRMP2Ihj0WPLxotkygJKvtx4tFBfyGoT4ETWPNK8VqzuKph1hSJhTNI-3O2U2UQKikXo-BNGiOX7lHsHZrKqMBmp2iNJ6J86cWv7F4NKqCtEQ8mZYqTldiG9sSbRx9MiHs0ex-eK9rvNYg5PjCOYNJs8hPoKUnzE5navmFl7DVJ0CkiDpJA2qB9xI6QUJQt16i52CbsP9Bmgx0CfqT0A_r8PaQ7-vtRmRfakulaOX1a0Dnl-acb8-A_FSZ840Gj5dhIjw9lVrADLMebLhfr_VUYzFMrnq_M-bBXrfSIBDVQPNGD7K5IuyIn3gpCOeyio_nNMg7ZzNj87vw90Xsj5o4dLi86OSadYgH9ifVblQaH7EadLNSuNZ8lIpQc1tJApXJOFTnHrIVohurJz-wHNqd7Jg6VF7deetZiAMyVKbtzq63yQzZObq9wW4W3Do7Ho3pfrMydH7uIlnuzPXPpqUYE5qw-ES4qTFuvFSZKO0E-T6Ow=w1376-h964-s-no-gm?authuser=0"  width="320" height="210"></label>
        <h6> An app organizing directors, actors, and their work. The site features images and movie metadata. </h6>
      </div>
      <div id="tileGroup">
        <label><h5> Bookstore Site </h4>
        <img src="https://lh3.googleusercontent.com/pw/ABLVV86oysuJExxJFn8kgfDDrRg145bxg-Ahf2ztHtKMRObyTjRzoNLxPuSo8LM07lkqwcPdZMY2mm2yqlUmXzEGh-pY7Zin9AK_menD7zTnHkx7v6Jfem3z5oNSBJsNx3tePjedT-FNElTN8umAs4YvEJF9qlnO3syiod82lA3ttdb6vTbT6ruFSYwA6zwObcnwk3wa1KmsYspuSZmMFEL0W7Ado1Gl8QiLqLjKOnmFbg_88QtnkhsR_oyq5CS3QofMjumYkSA90YTRnsCO6GWfSuDeyBRRZdEemsELMsLd0zO7TEKyrdRO5uOulRQLuNi64eezLRZZD-2KUEmcSdMJAOKLir0V5KsBwrnwswlj5Z8-sPyRAciWRpDe7fTU-1OOqPaMbl9VoKprjV1wrhLEqDK0J_KHes2nLXX9W0EL08DjflRuXoCtuXTkn2dCO7uW6JPpYLbtmsFkPBspG3HfsEtYoP27x55Is_wdjEvvDJlWNWcCzrW_uVUGhIDAiv4Tt8ociqUi2L0FAM11KEGPnfWPR8R0pRhsTuPlqVnZ6Qajz-Bi7hVanxEln0PTnnL1lqkp481UhAmtEbA5V_cN46XJtGMaxAebThpkiFim29Tf2lB2MlNgmBmQl6DjoTnNqOSP8rHGbsMvRJJYUaDpeuX6ScdNcKg-zsm1NkthYdy_G1cF9lEIW8Ks3e5V6jkCr2YOS91ahRMzepxPEg5c0X-cieJuodv9LK75-EpI1-q4pAFrRTKPV_phhS6gCrjvsCiQz8T8r7ub_K4bWgaOG1Uka41YzmHr5aUXrUvA3Ql3NgKAn_9kRvr6d5daBvHLuhlo-A4-4bZrRw8uTCmxPlZaz6vROvhnO7HiplJHkyEJrV6a3_pVALY99XaUrQS-kZBPAw=w1146-h1012-s-no-gm?authuser=0" width="320" height="210"></label>
        <h6> A site organizing books and their authors, with a feature to upload reviews. </h6>
      </div>
    </div>
  </body>
</html>