<header>
  <h1>Hannah Bergam</h1>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Portfolio", portfolio_path %></li>
    </ul>
  </nav>
</header>
<body>
  <h2>Software Engineer at Code.org with a Masters in CS</h2>
  <%= link_to "View my Work", portfolio_path %>
</body>
<footer>
  <a href="https://www.linkedin.com/in/hannah-bergam-92899160/" title="LinkedIn">LinkedIn Profile</a>
  <a href="https://github.com/hannahbergam" title="Github">Github Profile</a>
</footer>