<html>
  <body>
    <h2>Software Engineer and Master of CS</h2>
    <h5>Education Technology | Web Development | Front End Design | Non-profit Work </h5>
    <%= link_to "View my Work", "/portfolio" %>
  </body>
</html>